#top{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    color: gray;
    font-weight: bold;
    font-size: 30px;
    border-color: gray ;
    text-align: center;
}