#back-to-top {
  display: inline-block;
  background-color: #00F5FF;
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 10px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
 
}
#back-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 400%;
  line-height: 70%;
  color: #fff;
  
}
#back-to-top:hover {
  cursor: pointer;
  background-color: #333;
}
#back-to-top:active {
  background-color: #555;
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}
a {
  text-decoration: none;
}