<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
				"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<!-- Mapper resultType=""의 내용 -->
        <typeAlias type="team.ture.vo.BoardVO" alias="boardVO"/>
        <typeAlias type="team.ture.vo.LocationVO" alias="locationVO"/>
        <typeAlias type="team.ture.vo.TspotVO" alias="tspotVO"/>
        <typeAlias type="team.ture.vo.SarchVO" alias="sarchVO"/>
        <typeAlias type="team.ture.vo.TreplyVO" alias="treplyVO"/>
    </typeAliases>
    
	    

</configuration>



